name: Deploy Pages

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  pages:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v1
        with:
          node-version: '22.x'
      - run: npm install
      - run: chmod +x scripts/*.sh && ./scripts/build.sh

      - uses: peaceiris/actions-gh-pages@v3
        if: github.event_name != 'pull_request'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_public
          publish_branch: gh-pages

      - uses: wangchucheng/git-repo-sync@v0.1.0
        with:
          target-url: https://gitee.com/MendelowApp/MendelowApp.github.io.git
          target-username: ${{ secrets.GITEE_USERNAME }}
          # You can store token in your project's 'Setting > Secrets' and reference the name here. Such as ${{ secrets.ACCESS_TOKEN }}
          target-token: ${{ secrets.GITEE_TOKEN }}